$input-size: 80px;
$basic-margin: .5rem;

input:focus{
    outline: none;
}

.input-boxes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.input-box{
    width: $input-size;
    height: $input-size;
    text-align: center;
    margin: $basic-margin;
    border-radius: 0;
    border: 0;
    text-transform: uppercase;
}
.basic{
    background-color: lightgray;
}
.correct{
    background-color: lightgoldenrodyellow;
}
.correct-correct{
    background-color: lightblue;
}